In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import tensorflow as tf  # Version 1.0.0 (some previous versions are used in past commits)
from sklearn import metrics
from numpy import genfromtxt

import os
os.chdir('/Users/mash/Downloads/Sensie_download_02-16-2018')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
pwd()

'/Users/mash/Downloads/Sensie_download_02-16-2018'

In [44]:
import pandas as pd

# Loading the dataset

# data format being loaded: 
# no headers
# first column is the "tag" or expected outcom, 0 is "Stress present", 1 si"Stress free"
# second column is the user's email
# third column indicates if the user is left handed (represented by a 1) or right handed (represented by 0)
# columns 4 to 903 (inclusive) represent gyroscope data gatered for 3 seconds at 100Hz 
# columns 4 to 303 (inclusive) are for Yaw
# columns 304 to 603 (inclusive) are for Roll
# columns 604 to 903 (inclusive) are for Pitch

test_data = genfromtxt('MasterShuffle_test.csv', delimiter=',', skip_header=1)
train_data = genfromtxt('MasterShuffle_train.csv', delimiter=',', skip_header=1)

print("Raw train set shape ",train_data.shape)
print("Raw test set shape ",test_data.shape)

# eliminate NaN's
test_data = np.delete(test_data, np.unique(np.argwhere(np.isnan(test_data[:,3:])).T[0].flatten('C')), axis=0)
train_data = np.delete(train_data, np.unique(np.argwhere(np.isnan(train_data[:,3:])).T[0].flatten('C')), axis=0)

print("Train set shape W/O NAN ",train_data.shape)
print("Test set shape W/O NAN ",test_data.shape)


Y_train_orig = train_data[:,0].astype(int)
X_train_orig = train_data[:,3:]


Y_test_orig = test_data[:,0].astype(int)
X_test_orig = test_data[:,3:]


print("Final train set shape ",X_train_orig.shape)
print("Final train expected outcome set shape ",Y_train_orig.shape)


print("Final test set shape ",X_test_orig.shape)
print("Final test expected outcome set shape ",Y_test_orig.shape)

Raw train set shape  (2440, 903)
Raw test set shape  (1045, 903)
Train set shape W/O NAN  (2363, 903)
Test set shape W/O NAN  (1014, 903)
Final train set shape  (2363, 900)
Final train expected outcome set shape  (2363,)
Final test set shape  (1014, 900)
Final test expected outcome set shape  (1014,)

In [55]:
## Combining the raw provided ShuffleMaster train & test tables for AzureML modeling
sensie_times = genfromtxt('sensie_timeseries_data.csv', delimiter=',', skip_header=0)

print("Sensie combined dataframe with NaN samples shape ",sensie_times.shape)
print("Appended combined dataframe shape ",sensie.shape)

Sensie combined dataframe with NaN samples shape  (10462, 304)
Appended combined dataframe shape  (3377, 903)

In [56]:
# eliminate NaN's
sensie_times = np.delete(sensie_times, np.unique(np.argwhere(np.isnan(sensie_times[:,3:])).T[0].flatten('C')), axis=0)
sensie_times = train_data[:,0].astype(int)

sensie_times = pd.DataFrame(sensie_times)
sensie_times

      0
0     0
1     1
2     1
3     0
4     1
5     1
6     0
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    0
18    0
19    0
20    1
21    1
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    1
...  ..
2333  1
2334  1
2335  1
2336  1
2337  0
2338  1
2339  0
2340  1
2341  0
2342  1
2343  1
2344  0
2345  1
2346  1
2347  1
2348  1
2349  0
2350  0
2351  0
2352  0
2353  0
2354  0
2355  0
2356  0
2357  0
2358  0
2359  1
2360  0
2361  0
2362  1

[2363 rows x 1 columns]

In [10]:
dict1 = {'state': ['Ohio', 'CA'], 'year': [2000, 2010]}
df1 = pd.DataFrame(dict1)
df1.shape

(2, 2)

In [15]:
# Loading the dataset

# data format being loaded: 
# no headers
# first column is the "tag" or expected outcom, 0 is "Stress present", 1 is "Stress free"
# second column is the user's email
# third column indicates if the user is left handed (represented by a 1) or right handed (represented by 0)
# columns 4 to 903 (inclusive) represent gyroscope data gatered for 3 seconds at 100Hz 
# columns 4 to 303 (inclusive) are for Yaw
# columns 304 to 603 (inclusive) are for Roll
# columns 604 to 903 (inclusive) are for Pitch

test_data = genfromtxt('MasterShuffle_test.csv', delimiter=',', skip_header=1)
train_data = genfromtxt('MasterShuffle_train.csv', delimiter=',', skip_header=1)



print("Full train set shape ",train_data.shape)
print("Full test set shape ",test_data.shape)


#eliminate NaN's
test_data = np.delete(test_data, np.unique(np.argwhere(np.isnan(test_data[:,3:])).T[0].flatten('C')), axis=0)
train_data = np.delete(train_data, np.unique(np.argwhere(np.isnan(train_data[:,3:])).T[0].flatten('C')), axis=0)



print("Train set shape without NAN records ",train_data.shape)
print("Test set shape without NAN records ",test_data.shape)


Y_train_orig = train_data[:,0].astype(int)
X_train_orig = train_data[:,3:]


Y_test_orig = test_data[:,0].astype(int)
X_test_orig = test_data[:,3:]


print("Final train set shape ",X_train_orig.shape)
print("Final train expected outcome set shape ",Y_train_orig.shape)


print("Final test set shape ",X_test_orig.shape)
print("Final test expected outcome set shape ",Y_test_orig.shape)

Full train set shape  (2440, 903)
Full test set shape  (1045, 903)
Train set shape without NAN records  (2363, 903)
Test set shape without NAN records  (1014, 903)
Final train set shape  (2363, 900)
Final train expected outcome set shape  (2363,)
Final test set shape  (1014, 900)
Final test expected outcome set shape  (1014,)

In [9]:
# Useful Constants

# Those are separate normalised input features for the neural network
INPUT_SIGNAL_TYPES = [
    "body_acc_x_",
    "body_acc_y_",
    "body_acc_z_",
    "body_gyro_x_",
    "body_gyro_y_",
    "body_gyro_z_",
    "total_acc_x_",
    "total_acc_y_",
    "total_acc_z_"
]

# Output classes to learn how to classify
LABELS = [
    "STRESSED", 
    "NOT"
]

<b>Additionnal Parameters:</b><br>

Here are some core parameter definitions for the training.

The whole neural network's structure could be summarised by enumerating those parameters and the fact an LSTM is used.

In [14]:
training_data_count = len(X_train_orig)
test_data_count = len(X_test_orig)
n_steps = len(X_train_orig[0])
##n_input = len(X_train_orig[0][0])

print(training_data_count)
print(test_data_count)
print(n_steps)

2363
1014
900

In [17]:
# Input Data 

training_data_count = len(X_train_orig)  # 2363 training series (with 50% overlap between each series)
test_data_count = len(X_test_orig)  # 1014 testing series
n_steps = len(X_train_orig[0])  # 900 timesteps per series = 3 * 3 sec * 100 Hz
# n_input = len(X_train_orig[0][0])  # This will have to be hardcoded
n_input = 3


# LSTM Neural Network's internal structure

n_hidden = 32 # Hidden layer num of features
n_classes = 6 # Total classes (should go up, or should go down)


# Training 

learning_rate = 0.0025
lambda_loss_amount = 0.0015
training_iters = training_data_count * 300  # Loop 300 times on the dataset
batch_size = 1500
display_iter = 30000  # To show test set accuracy during training


# Some debugging info

print("Some useful info to get an insight on dataset's shape and normalisation:")
print("(X shape, y shape, every X's mean, every X's standard deviation)")
print(X_test_orig.shape, y_test_orig.shape, np.mean(X_test_orig), np.std(X_test_orig))
print("The dataset is therefore properly normalised, as expected, but not yet one-hot encoded.")

Some useful info to get an insight on dataset's shape and normalisation:
(X shape, y shape, every X's mean, every X's standard deviation)

NameError: name 'y_test_orig' is not defined

Download necessary datasets

In [19]:
!pwd && ls

test_data = genfromtxt('/Users/mash/Downloads/Sensie_download_02-16-2018/'+'sensie_prepared_data.csv', delimiter=',', skip_header=0)

/Users/mash/kdata/kaggle
Introduction to TensorFlow and Sentiment Analysis.pdf
Kaggle_001 - exploratory analysis.ipynb
MashModel.ipynb
README.md
Sensie - hacking healthcare hackathon v1.ipynb
TensorFlow_Regression.html
TensorFlow_Regression.ipynb
classes.csv
directoryImageID_explore.R
image001.jpg
nuclei.html
nuclei.ipynb
nuclei.yml
stuff.csv

In [14]:
## ERRORS OUT

download_path = "~/Users/mash/Downloads/Sensie_download_02-16-2018/"
def load_data(datafile):
    time_series_data = []
    
    for file_path in datafile:
        file = open(file_path, 'r')
        # Read dataset from disk, dealing with text files' syntax
        time_series_data.append(
            [np.array(serie, dtype=np.float32) for serie in [
                row.replace('  ', ' ').strip().split(' ') for row in file
            ]]
        )
        file.close()
    
    return np.transpose(np.array(X_signals), (1, 2, 0))
data = load_data(download_path + 'sensie_prepared_data.csv')

'/Users/mash/kdata/kaggle'

In [7]:
np.linspace(8,20, 20)

array([ 8.        ,  8.63157895,  9.26315789,  9.89473684, 10.52631579,
       11.15789474, 11.78947368, 12.42105263, 13.05263158, 13.68421053,
       14.31578947, 14.94736842, 15.57894737, 16.21052632, 16.84210526,
       17.47368421, 18.10526316, 18.73684211, 19.36842105, 20.        ])

In [8]:
import tensorflow as tf

In [10]:
print(tf.__version__)

1.6.0-rc1